<div class="card">
        <div class="card-body">
            <form [formGroup]="angForm" novalidate>
            <div class="form-group">
              <label class="col-md-4">Test ID</label>
              <input type="text" class="form-control" formControlName="test_id" #test_id />
            </div>
            <div *ngIf="angForm.controls['test_id'].invalid && (angForm.controls['test_id'].dirty || angForm.controls['test_id'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['test_id'].errors.required">
                    Test ID is required.
                    </div>
                </div>
            
            <div class="form-group">
              <label class="col-md-4">Test Name</label>
              <input type="text" class="form-control" formControlName="test_name" #test_name />
            </div>
            <div *ngIf="angForm.controls['test_name'].invalid && (angForm.controls['test_name'].dirty || angForm.controls['test_name'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['test_name'].errors.required">
                    Test Name is required.
                </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-4">Test Creator</label>
              <input type="text" class="form-control" formControlName="test_creator" #test_creator />
            </div>
            <div *ngIf="angForm.controls['test_creator'].invalid && (angForm.controls['test_creator'].dirty || angForm.controls['test_creator'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['test_creator'].errors.required">
                    Test Creator is required.
                </div>            
            </div>
    
            <div class="form-group">
              <button (click)="addAssess(test_id.value, test_name.value, test_creator.value)" 
              class="btn btn-primary"> Register </button>
            </div>
            </form>
        </div>
      </div>