<html>
<body>  
<div class="header">
  <img src="http://oesv1.textusintentio.com/images/logo/your%20school.png" alt = "logo" style = "width: 128px; height: 128px;">
  <img src="http://oesv1.textusintentio.com/images/logo/your%20school.png" img align = "right" alt = "logo" style = "width: 128px; height: 128px;">
</div>
<div style="text-align:center">
  <h1>
    <b>WELCOME TO ONLINE ASSESSMENT</b>
  </h1>
  </div>

<div style="text-align: center">
<div class="container">
    <button type="button" class="btn btn-primary"><a routerLink="tests" routerLinkActive="active"><b><font color="black"> Tests</font></b></a></button> |
    <button type="button" class="btn btn-success"><a routerLink="company" routerLinkActive="active"><b><font color="black">Company Registration</font></b></a></button> |
    <button type="button" class="btn btn-primary"><a routerLink="questions" routerLinkActive="active"><b><font color="black">Questions</font></b></a></button> |
    <button type="button" class="btn btn-info"><a routerLink="mcq" routerLinkActive="active"><b><font color="black">MCQ</font></b></a></button> | 
    <button type="button" class="btn btn-warning"><a routerLink="trueorfalse" routerLinkActive="active"><b><font color="black">True or False</font></b></a></button> |
    <button type="button" class="btn btn-success"><a routerLink="quiz" routerLinkActive="active"><b><font color="black">Quiz</font></b></a></button> 
</div>
</div>

<div class="container">
  <app-quiz></app-quiz>
</div>
</body>
</html>